DJANGO_SETTINGS_MODULE=config.settings.local
SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=
DATABASE_URL=postgres://rotta@localhost:5432/rotta
PRIVATE_DOCUMENT_STORAGE_ROOT=./private_documents
LOG_LEVEL=INFO
DJANGO_REQUEST_LOG_LEVEL=WARNING
SECURE_SSL_REDIRECT=False
SECURE_HSTS_SECONDS=0
