{% extends 'public/landing.html' %}
{% load static %}

{% block title %}Rotta 116 | Soluções de Transporte{% endblock %}

{% block logo %}
<meta name="description" content="Conheça as soluções de transporte do Rotta 116 para entregas urbanas, utilitários, vans, caminhões, carretas e operações programadas.">
<link rel="shortcut icon" href="{% static 'public/cargon/img/icon/ca-fav-3.svg' %}">
{% endblock %}

{% block page_content %}

<main>
   <!-- breadcrumb area start -->
   <section class="ca-breadcrumb-area cream-bg-3 p-relative z-index-1 fix">
      <div class="ca-breadcrumb-shape p-absolute bre-sh-1">
         <img src="{% static 'public/cargon/img/shape/breadcrumn-shape.png' %}" alt="">
      </div>
      <div class="ca-breadcrumb-shape p-absolute bre-sh-2">
         <img src="{% static 'public/cargon/img/shape/ca-line-shape.png' %}" alt="">
      </div>
      <div class="container">
         <div class="ca-breadcrumb-content text-center">
            <h2 class="ca-breadcrumb-title fnw-600">Soluções de Transporte</h2>
            <div class="it-breadcum-link">
               <a href="{% url 'public:home' %}">Home</a>
               <span><i class="fa-solid fa-angle-right"></i></span>
               <a class="active" href="#">Serviços</a>
            </div>
         </div>
      </div>
   </section>
   <!-- breadcrumb area end -->
   <!-- service area start -->
   <div class="ca-iner-servics pt-100 pb-100">
      <div class="container">
         <div class="row">
            <!-- single service box -->
            <div class="col-xl-4 col-md-6 mb-30">
               <div class="ca-ser-icon-box ca-ser-icon-box-2 fix p-relative cream-bg-3 z-index-1 p-32 br-7">
                  <div class="ca-about-icon">
                     <div class="ca-about-ic ca-ser-ic">
                        <img src="{% static 'public/cargon/img/icon/ca-iner-ser1.1.svg' %}" alt="">
                     </div>
                     <div class="ca-num">
                        <h4 class="overly-num overly-num2">01</h4>
                     </div>
                  </div>
                  <div class="ca-service-content ca-service-content-iner">
                     <h4 class="ca-title fnw-700 pb-16 pt-32"><a href="{% url 'public:service_single' %}">Uma plataforma para diferentes necessidades de transporte</a></h4>
                     <p class="pb-24">O Rotta 116 está sendo desenvolvido para conectar pessoas e empresas a motoristas, agregados e transportadores.</p>
                     <a href="{% url 'public:service_single' %}" class="read-more">Conhecer proposta <span><i
                              class="fa-solid fa-angle-right"></i></span></a>
                  </div>
               </div>
            </div>
            <!-- single service box -->
            <div class="col-xl-4 col-md-6 mb-30">
               <div class="ca-ser-icon-box ca-ser-icon-box-2 fix p-relative cream-bg-3 z-index-1 p-32 br-7">
                  <div class="ca-about-icon">
                     <div class="ca-about-ic ca-ser-ic">
                        <img src="{% static 'public/cargon/img/icon/ca-iner-ser1.2.svg' %}" alt="">
                     </div>
                     <div class="ca-num">
                        <h4 class="overly-num overly-num2">02</h4>
                     </div>
                  </div>
                  <div class="ca-service-content ca-service-content-iner">
                     <h4 class="ca-title fnw-700 pb-16 pt-32"><a href="{% url 'public:service_single' %}">Entrega rápida e transporte urbano</a>
                     </h4>
                     <p class="pb-24">Pequenos volumes, documentos, coletas e entregas dentro da cidade com moto, carro e categorias leves.</p>
                     <a href="{% url 'public:service_single' %}" class="read-more">Ver operações <span><i
                              class="fa-solid fa-angle-right"></i></span></a>
                  </div>
               </div>
            </div>
            <!-- single service box -->
            <div class="col-xl-4 col-md-6 mb-30">
               <div class="ca-ser-icon-box ca-ser-icon-box-2 fix p-relative cream-bg-3 z-index-1 p-32 br-7">
                  <div class="ca-about-icon">
                     <div class="ca-about-ic ca-ser-ic">
                        <img src="{% static 'public/cargon/img/icon/ca-iner-ser1.3.svg' %}" alt="">
                     </div>
                     <div class="ca-num">
                        <h4 class="overly-num overly-num2">03</h4>
                     </div>
                  </div>
                  <div class="ca-service-content ca-service-content-iner">
                     <h4 class="ca-title fnw-700 pb-16 pt-32"><a href="{% url 'public:service_single' %}">Carretos, utilitários e vans</a>
                     </h4>
                     <p class="pb-24">Movimentação de volumes, móveis, equipamentos, caixas e distribuição urbana para pessoas e empresas.</p>
                     <a href="{% url 'public:service_single' %}" class="read-more">Comparar veículos <span><i
                              class="fa-solid fa-angle-right"></i></span></a>
                  </div>
               </div>
            </div>
            <!-- single service box -->
            <div class="col-xl-4 col-md-6 mb-30">
               <div class="ca-ser-icon-box ca-ser-icon-box-2 fix p-relative cream-bg-3 z-index-1 p-32 br-7">
                  <div class="ca-about-icon">
                     <div class="ca-about-ic ca-ser-ic">
                        <img src="{% static 'public/cargon/img/icon/ca-iner-ser1.4.svg' %}" alt="">
                     </div>
                     <div class="ca-num">
                        <h4 class="overly-num overly-num2">04</h4>
                     </div>
                  </div>
                  <div class="ca-service-content ca-service-content-iner">
                     <h4 class="ca-title fnw-700 pb-16 pt-32"><a href="{% url 'public:service_single' %}">VUC, caminhões e carretas</a>
                     </h4>
                     <p class="pb-24">Operações urbanas, intermunicipais e rodoviárias, inclusive transporte dedicado quando a carga exigir exclusividade.</p>
                     <a href="{% url 'public:service_single' %}" class="read-more">Da cidade a estrada <span><i
                              class="fa-solid fa-angle-right"></i></span></a>
                  </div>
               </div>
            </div>
            <!-- single service box -->
            <div class="col-xl-4 col-md-6 mb-30">
               <div class="ca-ser-icon-box ca-ser-icon-box-2 fix p-relative cream-bg-3 z-index-1 p-32 br-7">
                  <div class="ca-about-icon">
                     <div class="ca-about-ic ca-ser-ic">
                        <img src="{% static 'public/cargon/img/icon/ca-iner-ser1.5.svg' %}" alt="">
                     </div>
                     <div class="ca-num">
                        <h4 class="overly-num overly-num2">05</h4>
                     </div>
                  </div>
                  <div class="ca-service-content ca-service-content-iner">
                     <h4 class="ca-title fnw-700 pb-16 pt-32"><a href="{% url 'public:service_single' %}">Transporte sob demanda</a>
                     </h4>
                     <p class="pb-24">Informe origem, destino e carga. A evolução da plataforma poderá indicar prestadores e veículos compatíveis.</p>
                     <a href="{% url 'public:service_single' %}" class="read-more">Solicitar transporte <span><i
                              class="fa-solid fa-angle-right"></i></span></a>
                  </div>
               </div>
            </div>
            <!-- single service box -->
            <div class="col-xl-4 col-md-6 mb-30">
               <div class="ca-ser-icon-box ca-ser-icon-box-2 fix p-relative cream-bg-3 z-index-1 p-32 br-7">
                  <div class="ca-about-icon">
                     <div class="ca-about-ic ca-ser-ic">
                        <img src="{% static 'public/cargon/img/icon/ca-iner-ser1.6.svg' %}" alt="">
                     </div>
                     <div class="ca-num">
                        <h4 class="overly-num overly-num2">06</h4>
                     </div>
                  </div>
                  <div class="ca-service-content ca-service-content-iner">
                     <h4 class="ca-title fnw-700 pb-16 pt-32"><a href="{% url 'public:service_single' %}">Operações programadas</a>
                     </h4>
                     <p class="pb-24">Rotas recorrentes, coletas programadas, distribuição, abastecimento de unidades e entregas comerciais planejadas.</p>
                     <a href="{% url 'public:service_single' %}" class="read-more">Planejar operação <span><i
                              class="fa-solid fa-angle-right"></i></span></a>
                  </div>
               </div>
            </div>
            <!-- single service box -->
            <div class="col-xl-4 col-md-6 mb-30">
               <div class="ca-ser-icon-box ca-ser-icon-box-2 fix p-relative cream-bg-3 z-index-1 p-32 br-7">
                  <div class="ca-about-icon">
                     <div class="ca-about-ic ca-ser-ic">
                        <img src="{% static 'public/cargon/img/icon/ca-iner-ser1.7.svg' %}" alt="">
                     </div>
                     <div class="ca-num">
                        <h4 class="overly-num overly-num2">07</h4>
                     </div>
                  </div>
                  <div class="ca-service-content ca-service-content-iner">
                     <h4 class="ca-title fnw-700 pb-16 pt-32"><a href="{% url 'public:service_single' %}">Solucoes para empresas</a>
                     </h4>
                     <p class="pb-24">Centralização de demandas, categorias de veículos, histórico operacional, acompanhamento e integrações futuras.</p>
                     <a href="{% url 'public:service_single' %}" class="read-more">Organizar demandas <span><i
                              class="fa-solid fa-angle-right"></i></span></a>
                  </div>
               </div>
            </div>
            <!-- single service box -->
            <div class="col-xl-4 col-md-6 mb-30">
               <div class="ca-ser-icon-box ca-ser-icon-box-2 fix p-relative cream-bg-3 z-index-1 p-32 br-7">
                  <div class="ca-about-icon">
                     <div class="ca-about-ic ca-ser-ic">
                        <img src="{% static 'public/cargon/img/icon/ca-iner-ser1.8.svg' %}" alt="">
                     </div>
                     <div class="ca-num">
                        <h4 class="overly-num overly-num2">08</h4>
                     </div>
                  </div>
                  <div class="ca-service-content ca-service-content-iner">
                     <h4 class="ca-title fnw-700 pb-16 pt-32"><a href="{% url 'public:service_single' %}">Monitoramento e comprovantes</a>
                     </h4>
                     <p class="pb-24">Status, localização, chegada, entrega, fotos, assinatura e POD são recursos planejados para a operação.</p>
                     <a href="{% url 'public:service_single' %}" class="read-more">Acompanhar evolução <span><i
                              class="fa-solid fa-angle-right"></i></span></a>
                  </div>
               </div>
            </div>
            <!-- single service box -->
            <div class="col-xl-4 col-md-6 mb-30">
               <div class="ca-ser-icon-box ca-ser-icon-box-2 fix p-relative cream-bg-3 z-index-1 p-32 br-7">
                  <div class="ca-about-icon">
                     <div class="ca-about-ic ca-ser-ic">
                        <img src="{% static 'public/cargon/img/icon/ca-iner-ser1.9.svg' %}" alt="">
                     </div>
                     <div class="ca-num">
                        <h4 class="overly-num overly-num2">09</h4>
                     </div>
                  </div>
                  <div class="ca-service-content ca-service-content-iner">
                     <h4 class="ca-title fnw-700 pb-16 pt-32"><a href="{% url 'public:service_single' %}">Rede de prestadores</a></h4>
                     <p class="pb-24">Motoristas, agregados e transportadores poderáo cadastrar veículos, passar por aprovação e receber oportunidades.</p>
                     <a href="{% url 'public:service_single' %}" class="read-more">Quero fazer fretes <span><i
                              class="fa-solid fa-angle-right"></i></span></a>
                  </div>
               </div>
            </div>
         </div>

         <!-- TODO: preparar destino futuro /solucoes/ quando a pagina de solucoes existir. -->
         <!-- pagination -->
         <div class="row">
            <div class="col-12 m-auto">
               <div class="theme-pagination text-center">
                  <ul>
                     <li><a href="#"><i class="fa-solid fa-angle-left"></i></a></li>
                     <li><a class="active" href="#">Moto</a></li>
                     <li><a href="#">Urbano</a></li>
                     <li>...</li>
                     <li><a href="#">Soluções</a></li>
                     <li><a href="#"><i class="fa-solid fa-angle-right"></i></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>

{% endblock page_content %}
