{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="DexignZone">
<meta name="robots" content="noindex, nofollow">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover">
<title>{% block title %}Rotta 116 Backoffice{% endblock %}</title>
<link rel="shortcut icon" type="image/png" href="{% static 'backoffice/nexadash/images/favicon.png' %}">
<link rel="stylesheet" href="{% static 'backoffice/nexadash/vendor/datatables/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'backoffice/nexadash/vendor/owl-carousel/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'backoffice/nexadash/vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}">
<link rel="stylesheet" href="{% static 'backoffice/nexadash/css/style.css' %}">
