<div class="deznav">
    <div class="deznav-scroll grid-menu">
        <ul class="metismenu" id="menu">
            <li>
                <a href="{% url 'backoffice:dashboard' %}" aria-expanded="false">
                    <div class="menu-icon ai-icon"><i class="flaticon-381-home-2"></i></div>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
                    <div class="menu-icon"><i class="flaticon-381-networking"></i></div>
                    <span class="nav-text">Operações</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="javascript:void(0);">Cargas</a></li>
                    <li><a href="javascript:void(0);">Solicitações</a></li>
                    <li><a href="javascript:void(0);">Cotações</a></li>
                    <li><a href="javascript:void(0);">Embarques</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
                    <div class="menu-icon"><i class="flaticon-381-user-7"></i></div>
                    <span class="nav-text">Rede</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="javascript:void(0);">Motoristas</a></li>
                    <li><a href="javascript:void(0);">Veículos</a></li>
                    <li><a href="javascript:void(0);">Clientes</a></li>
                    <li><a href="javascript:void(0);">Transportadoras</a></li>
                    <li><a href="javascript:void(0);">Parceiros</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
                    <div class="menu-icon"><i class="flaticon-381-wallet"></i></div>
                    <span class="nav-text">Financeiro</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="javascript:void(0);">Faturamento</a></li>
                    <li><a href="javascript:void(0);">Recebimentos</a></li>
                    <li><a href="javascript:void(0);">Pagamentos</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
                    <div class="menu-icon"><i class="flaticon-381-layer-1"></i></div>
                    <span class="nav-text">Organização</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="javascript:void(0);">Empresas</a></li>
                    <li><a href="javascript:void(0);">Unidades</a></li>
                    <li><a href="javascript:void(0);">Filiais</a></li>
                    <li><a href="javascript:void(0);">Departamentos</a></li>
                    <li><a href="javascript:void(0);">Equipes</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
                    <div class="menu-icon"><i class="flaticon-381-lock"></i></div>
                    <span class="nav-text">Segurança</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="javascript:void(0);">Usuários</a></li>
                    <li><a href="javascript:void(0);">Perfis / Roles</a></li>
                    <li><a href="javascript:void(0);">Permissões</a></li>
                    <li><a href="javascript:void(0);">Auditoria</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" aria-expanded="false">
                    <div class="menu-icon"><i class="flaticon-381-notepad"></i></div>
                    <span class="nav-text">Relatórios</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" aria-expanded="false">
                    <div class="menu-icon"><i class="flaticon-381-settings-2"></i></div>
                    <span class="nav-text">Configurações</span>
                </a>
            </li>
        </ul>
    </div>
</div>
