{% load static %}
<header class="header-area-3 stiky">
    <div class="container header-3">
        <div class="row align-items-center">
            <div class="col-xl-2 col-lg col-md-6 col-6">
                <!-- ca-logo -->
                <div class="ca-logo">
                    <a href="{% url 'public:home' %}"><img src="{% static 'public/cargon/img/logo/rotta116.png' %}" class="rotta-public-logo" alt="Rotta 116"></a>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 d-none d-lg-block">
                <!-- ca-main-menu -->
                <div class="ca-main-menu-3">
                    <nav class="ca-mobile-menu-active-3">
                        <ul>
                            <li><a href="{% url 'public:home' %}">Home</a></li>
                            <li><a href="{% url 'public:about' %}">Sobre Nós</a></li>
                            <li><a href="{% url 'public:services' %}">Serviços</a></li>
                            <li><a href="{% url 'public:blog' %}">Blog</a></li>
                            <li><a href="{% url 'public:contact' %}">Contato</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-xl-3 col-lg col-md-6 col-6">
                <!-- ca-btn -->
                <div class="ca-btn-header d-none d-lg-block text-end">
                    <a href="{% url 'backoffice:dashboard' %}" class="ca-btn-primary-3 theme-bg-3 text-white br-50">Entrar <span><i
                                class="fa-solid fa-angle-right"></i></span></a>
                </div>
                <div class="ca-header-action-item d-lg-none text-end">
                    <button type="button" class="ca-offcanvas-toogle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" viewBox="0 0 30 16">
                            <rect x="10" width="20" height="2" fill="currentColor"></rect>
                            <rect x="5" y="7" width="25" height="2" fill="currentColor"></rect>
                            <rect x="10" y="14" width="20" height="2" fill="currentColor"></rect>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>